@page "/bookings/create"
@using Microsoft.EntityFrameworkCore
@using TemasekShuttleV3.Domain
@inject IDbContextFactory<TemasekShuttleV3.Data.TemasekShuttleV3Context> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Booking</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Booking" OnValidSubmit="AddBooking" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert" />
            <div class="mb-3">
                <label for="busdate" class="form-label">BusDate:</label>
                <InputDate id="busdate" @bind-Value="Booking.BusDate" class="form-control" />
                <ValidationMessage For="() => Booking.BusDate" class="text-danger" />
            </div>

            <div class="mb-3">
                <label for="bustime" class="form-label">BusTime:</label>
                <InputText id="bustime" @bind-Value="BusTimeString" class="form-control" />
                <ValidationMessage For="() => BusTimeString" class="text-danger" />
            </div>

            <div class="mb-3">
                <label for="buslocation" class="form-label">BusLocation:</label>
                <InputSelect id="buslocation" @bind-Value="Booking.BusLocation" class="form-control">
                    <option value="">Select a location</option>
                    <option value="Tampines East MRT Exit C (SA4B1G3R)">Tampines East MRT Exit C (SA4B1G3R)</option>
                    <option value="Punggol MRT Exit A (PM0T7J9D)">Punggol MRT Exit A (PM0T7J9D)</option>
                </InputSelect>
                <ValidationMessage For="() => Booking.BusLocation" class="text-danger" />
            </div>

            <div class="mb-3">
                <label for="customerid" class="form-label">CustomerId:</label>
                <InputNumber id="customerid" @bind-Value="Booking.CustomerId" class="form-control" />
                <ValidationMessage For="() => Booking.CustomerId" class="text-danger" />
            </div>




            <div class="mb-3">
                <label for="scheduleoccurrenceid" class="form-label">ScheduleOccurrenceId:</label>
                <InputNumber id="scheduleoccurrenceid" @bind-Value="Booking.ScheduleOccurrenceId" class="form-control" />
                <ValidationMessage For="() => Booking.ScheduleOccurrenceId" class="text-danger" />
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/bookings">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Booking Booking { get; set; } = new();




    private string BusTimeString
    {
        get => Booking.BusTime.ToString("HH:mm"); // Format as HH:mm
        set
        {
            if (TimeOnly.TryParse(value, out var parsedTime))
            {
                Booking.BusTime = parsedTime;
            }
        }
    }

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddBooking()
    {
        using var context = DbFactory.CreateDbContext();
        context.Booking.Add(Booking);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/bookings");
    }
}