@page "/bookings/edit"
@using Microsoft.EntityFrameworkCore
@using TemasekShuttleV3.Domain
@inject IDbContextFactory<TemasekShuttleV3.Data.TemasekShuttleV3Context> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Booking</h2>
<hr />
@if (Booking is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Booking" OnValidSubmit="UpdateBooking" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Booking.Id" value="@Booking.Id" />
                <div class="mb-3">
                    <label for="bustime" class="form-label">BusTime:</label>
                    <InputDate id="bustime" @bind-Value="Booking.BusTime" class="form-control" />
                    <ValidationMessage For="() => Booking.BusTime" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="buslocation" class="form-label">BusLocation:</label>
                    <InputText id="buslocation" @bind-Value="Booking.BusLocation" class="form-control" />
                    <ValidationMessage For="() => Booking.BusLocation" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="customerid" class="form-label">CustomerId:</label>
                    <InputNumber id="customerid" @bind-Value="Booking.CustomerId" class="form-control" />
                    <ValidationMessage For="() => Booking.CustomerId" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="scheduleoccurrenceid" class="form-label">ScheduleOccurrenceId:</label>
                    <InputNumber id="scheduleoccurrenceid" @bind-Value="Booking.ScheduleOccurrenceId" class="form-control" />
                    <ValidationMessage For="() => Booking.ScheduleOccurrenceId" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/bookings">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Booking? Booking { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Booking ??= await context.Booking.FirstOrDefaultAsync(m => m.Id == Id);

        if (Booking is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateBooking()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Booking!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!BookingExists(Booking!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/bookings");
    }

    private bool BookingExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Booking.Any(e => e.Id == id);
    }
}
