@page "/bookings"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using TemasekShuttleV3.Domain
@using TemasekShuttleV3.Data
@implements IAsyncDisposable
@inject IDbContextFactory<TemasekShuttleV3.Data.TemasekShuttleV3Context> DbFactory

@attribute [Authorize(Roles = "Administrator, User")]

<PageTitle>Index</PageTitle>

<h1>Book a Bus</h1>

<p>
    @* Only Admins and customers can see this. *@
    <a href="bookings/create">Click here to create new booking</a>
</p>

<QuickGrid Class="table" Items="context.Booking">
    <PropertyColumn Property="booking => booking.BusTime" />
@*     <PropertyColumn Property="booking => booking.BusDate" /> *@
    <PropertyColumn Property="booking => booking.BusLocation" />
    <PropertyColumn Property="booking => booking.CustomerId" />
    <AuthorizeView Roles="Administrator">
        <PropertyColumn Property="booking => booking.ScheduleOccurrenceId" />
    </AuthorizeView>

    <TemplateColumn Context="booking">
        <a href="@($"bookings/edit?id={booking.Id}")">Edit</a> |
        <a href="@($"bookings/details?id={booking.Id}")">Details</a> |
        <AuthorizeView Roles="Administrator"> 
            <a href="@($"bookings/delete?id={booking.Id}")">Delete</a>
        </AuthorizeView>
    </TemplateColumn>
</QuickGrid>

@code {
    private TemasekShuttleV3Context context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
