@page "/payments/edit"
@using Microsoft.EntityFrameworkCore
@using TemasekShuttleV3.Domain
@inject IDbContextFactory<TemasekShuttleV3.Data.TemasekShuttleV3Context> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Payment</h2>
<hr />
@if (Payment is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Payment" OnValidSubmit="UpdatePayment" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Payment.Id" value="@Payment.Id" />
                <div class="mb-3">
                    <label for="uniquepaymentid" class="form-label">UniquePaymentId:</label>
                    <InputText id="uniquepaymentid" @bind-Value="Payment.UniquePaymentId" class="form-control" />
                    <ValidationMessage For="() => Payment.UniquePaymentId" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="paymenttype" class="form-label">PaymentType:</label>
                    <InputText id="paymenttype" @bind-Value="Payment.PaymentType" class="form-control" />
                    <ValidationMessage For="() => Payment.PaymentType" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="paymentamount" class="form-label">PaymentAmount:</label>
                    <InputNumber id="paymentamount" @bind-Value="Payment.PaymentAmount" class="form-control" />
                    <ValidationMessage For="() => Payment.PaymentAmount" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="paymentamountid" class="form-label">PaymentAmountId:</label>
                    <InputNumber id="paymentamountid" @bind-Value="Payment.PaymentAmountId" class="form-control" />
                    <ValidationMessage For="() => Payment.PaymentAmountId" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="bookingid" class="form-label">BookingId:</label>
                    <InputNumber id="bookingid" @bind-Value="Payment.BookingId" class="form-control" />
                    <ValidationMessage For="() => Payment.BookingId" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/payments">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Payment? Payment { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Payment ??= await context.Payment.FirstOrDefaultAsync(m => m.Id == Id);

        if (Payment is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdatePayment()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Payment!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!PaymentExists(Payment!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/payments");
    }

    private bool PaymentExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Payment.Any(e => e.Id == id);
    }
}
