@page "/schedules/create"
@using Microsoft.EntityFrameworkCore
@using TemasekShuttleV3.Domain
@inject IDbContextFactory<TemasekShuttleV3.Data.TemasekShuttleV3Context> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Schedule</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Schedule" OnValidSubmit="AddSchedule" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="busscheduledate" class="form-label">BusScheduleDate:</label> 
                <InputDate id="busscheduledate" @bind-Value="Schedule.BusScheduleDate" class="form-control" /> 
                <ValidationMessage For="() => Schedule.BusScheduleDate" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="busscheduletime" class="form-label">BusScheduleTime:</label> 
                <InputDate id="busscheduletime" @bind-Value="Schedule.BusScheduleTime" class="form-control" /> 
                <ValidationMessage For="() => Schedule.BusScheduleTime" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="schedulelocation" class="form-label">ScheduleLocation:</label> 
                <InputText id="schedulelocation" @bind-Value="Schedule.ScheduleLocation" class="form-control" /> 
                <ValidationMessage For="() => Schedule.ScheduleLocation" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="driverdate" class="form-label">DriverDate:</label> 
                <InputDate id="driverdate" @bind-Value="Schedule.DriverDate" class="form-control" /> 
                <ValidationMessage For="() => Schedule.DriverDate" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="drivertime" class="form-label">DriverTime:</label> 
                <InputDate id="drivertime" @bind-Value="Schedule.DriverTime" class="form-control" /> 
                <ValidationMessage For="() => Schedule.DriverTime" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="sparedriver" class="form-label">SpareDriver:</label> 
                <InputText id="sparedriver" @bind-Value="Schedule.SpareDriver" class="form-control" /> 
                <ValidationMessage For="() => Schedule.SpareDriver" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="driverid" class="form-label">DriverId:</label> 
                <InputNumber id="driverid" @bind-Value="Schedule.DriverId" class="form-control" /> 
                <ValidationMessage For="() => Schedule.DriverId" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/schedules">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Schedule Schedule { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddSchedule()
    {
        using var context = DbFactory.CreateDbContext();
        context.Schedule.Add(Schedule);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/schedules");
    }
}
