@page "/feedbacks"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using TemasekShuttleV3.Domain
@using TemasekShuttleV3.Data
@implements IAsyncDisposable
@inject IDbContextFactory<TemasekShuttleV3.Data.TemasekShuttleV3Context> DbFactory

@attribute [Authorize(Roles = "Administrator, User")]

<PageTitle>Index</PageTitle>

<h1>Leave a review here !</h1>

<p>
    <a href="feedbacks/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Feedback">
    <PropertyColumn Property="feedback => feedback.FeedbackRating" />
    <PropertyColumn Property="feedback => feedback.FeedbackContent" />
    <PropertyColumn Property="feedback => feedback.BookingId" />

    <TemplateColumn Context="feedback">
        <a href="@($"feedbacks/edit?id={feedback.Id}")">Edit</a> |
        <a href="@($"feedbacks/details?id={feedback.Id}")">Details</a> |
        <a href="@($"feedbacks/delete?id={feedback.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private TemasekShuttleV3Context context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
