@page "/buss"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using TemasekShuttleV3.Domain
@using TemasekShuttleV3.Data
@implements IAsyncDisposable
@inject IDbContextFactory<TemasekShuttleV3.Data.TemasekShuttleV3Context> DbFactory

@attribute [Authorize(Roles = "Administrator, User, Driver")]

<PageTitle>Index</PageTitle>

<h1>List of buses available</h1>

<p>
    <AuthorizeView Roles="Administrator">
        <a href="buss/create">Create New</a>
    </AuthorizeView>
</p>

<QuickGrid Class="table" Items="context.Bus">
    <PropertyColumn Property="bus => bus.BusPlate" />
    <PropertyColumn Property="bus => bus.BusCapacity" />
    <PropertyColumn Property="bus => bus.ScheduleId" />

    <TemplateColumn Context="bus">
        <AuthorizeView Roles="Administrator"> 
            <a href="@($"buss/edit?id={bus.Id}")">Edit</a> |
            <a href="@($"buss/details?id={bus.Id}")">Details</a> |
            <a href="@($"buss/delete?id={bus.Id}")">Delete</a>
        </AuthorizeView>
    </TemplateColumn>
</QuickGrid>

@code {
    private TemasekShuttleV3Context context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
