@page "/paymentamounts"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using TemasekShuttleV3.Domain
@using TemasekShuttleV3.Data
@implements IAsyncDisposable
@inject IDbContextFactory<TemasekShuttleV3.Data.TemasekShuttleV3Context> DbFactory

@attribute [Authorize(Roles = "Administrator, User")]

<PageTitle>Index</PageTitle>

<h1>Bus Rates :</h1>

<p>
    <AuthorizeView Roles="Administrator">
        <a href="paymentamounts/create">Create New</a>
    </AuthorizeView>
</p>

<QuickGrid Class="table" Items="context.PaymentAmount">
    <PropertyColumn Property="paymentamount => paymentamount.PeakPrice" />
    <PropertyColumn Property="paymentamount => paymentamount.NonpeakPrice" />

    <TemplateColumn Context="paymentamount">
        <AuthorizeView Roles="Administrator">
            <a href="@($"paymentamounts/edit?id={paymentamount.Id}")">Edit</a> |
        </AuthorizeView>
            <a href="@($"paymentamounts/details?id={paymentamount.Id}")">Details</a> |
        <AuthorizeView Roles="Administrator">
            <a href="@($"paymentamounts/delete?id={paymentamount.Id}")">Delete</a>
        </AuthorizeView>
    </TemplateColumn>
</QuickGrid>

@code {
    private TemasekShuttleV3Context context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
